@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  background-color: white;
  -webkit-user-select: none;
          user-select: none;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background-size: 200%;
  background-image: linear-gradient(to left, #16a085 0%, #f4d03f 100%);
  font-weight: 600;
  transition: all 0.5s;
}

button:hover {
  color: gold;
}

button:hover {
  background-position: right;
}

h3 {
  padding: 34px 0 21px 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #40474e;
}

p {
  line-height: 24px;
  word-spacing: 5px;
  color: #787c82;
  padding: 0px 15px;
}

.header {
  background: url("../../img/Layer 7.png") no-repeat;
  background-position: 50% 0;
  height: 589px;
}
.header .header__body {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .header__body {
    max-width: 320px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header .header__body {
    max-width: 481px;
  }
}
.header .header__logo h2 {
  padding: 45px 0;
  text-align: center;
  font-size: 50px;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .header__logo h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header .header__logo h2 {
    font-size: 44px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .header .header__logo h2 {
    font-size: 48px;
  }
}
.header .header__navigation {
  align-items: center;
}
.header .header__navigation .row {
  padding: 5px;
  text-align: center;
}
.header .header__navigation .row a {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .header__navigation .row a {
    font-size: 13px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header .header__navigation .row a {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .header .header__navigation .row a {
    font-size: 14px;
  }
}
.header .header__navigation .row a:hover {
  color: gold;
}
.header .header__havegood {
  text-align: center;
}
.header .header__havegood h1 {
  line-height: 160px;
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .header__havegood h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header .header__havegood h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .header .header__havegood h1 {
    font-size: 42px;
  }
}
.header .header__just {
  text-align: center;
  font-weight: 600;
}
.header .header__just p {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .header__just p {
    font-size: 14px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header .header__just p {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .header .header__just p {
    font-size: 16px;
  }
}
.header .header__gety .header__gety_center {
  text-align: center;
  line-height: 182px;
}

.blockfree {
  min-height: 286px;
  color: black;
  background: #f5f5f5;
  background-size: 100%;
}
.blockfree .blockfree_body {
  max-width: 600px;
  margin: 0 auto;
}
.blockfree .blockfree_body .blockfree_body_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .blockfree .blockfree_body .blockfree_body_wrapper {
    justify-content: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .blockfree .blockfree_body .blockfree_body_wrapper {
    justify-content: space-around;
  }
}
.blockfree .blockfree_body .blockfree_body_wrapper .column {
  margin-top: 56px;
  text-align: center;
  flex-basis: 30%;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .blockfree .blockfree_body .blockfree_body_wrapper .column {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .blockfree .blockfree_body .blockfree_body_wrapper .column {
    flex-basis: 49%;
  }
}
.blockfree .blockfree_body .blockfree_body_wrapper .column h3 {
  margin: 0 auto;
  border-bottom: 2px solid #e3e4e5;
  max-width: 135px;
}
.blockfree .blockfree_body .blockfree_body_wrapper .column img {
  height: 50px;
}
.blockfree .blockfree_body .blockfree_body_wrapper .column p {
  padding: 26px 15px 0 15px;
  word-spacing: 5px;
  color: #787c82;
}

.gallery {
  min-height: 526px;
  background: white 0 50%;
}
.gallery__body {
  max-width: 600px;
  margin: 0 auto;
}
.gallery__body__wrappers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery__body__wrappers {
    justify-content: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery__body__wrappers {
    justify-content: center;
  }
}
.gallery__body__wrappers_block {
  padding-top: 65px;
  flex-basis: 45%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery__body__wrappers_block {
    flex-basis: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery__body__wrappers_block {
    margin-bottom: 30px;
    flex-basis: 80%;
    text-align: center;
  }
}
.gallery__body__wrappers_block img {
  object-fit: cover;
  height: 167px;
  text-align: start;
  margin: 0 15px;
  border: 2px solid red;
}
.gallery__body__wrappers_block h3 {
  text-align: start;
  padding: 34px 15px 35px 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery__body__wrappers_block h3 {
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery__body__wrappers_block h3 {
    text-align: center;
  }
}
.gallery__body__wrappers_block button {
  text-transform: none;
  margin: 34px 0 0px 0;
  text-align: start;
}

.fully {
  min-height: 328px;
  background: #f5f5f5 0 50%;
}
.fully__body {
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .fully__body {
    text-align: center;
  }
}
.fully__body__wrapers {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.fully__body__wrapers .column {
  margin-bottom: 30px;
  flex-basis: 100%;
}
.fully__body__wrapers .column h3::before {
  content: " ";
  background: url(../../img/znaks/lifebuoy_PNG33.png) no-repeat;
  background-size: 25px;
  padding: 10px 10px 10px 30px;
  vertical-align: middle;
}
.fully__body__wrapers .column h3 {
  padding-top: 63px;
}
.fully__body__wrapers .column p {
  font-size: 16px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .fully__body__wrapers .column p {
    padding: 0 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .fully__body__wrapers .column p {
    padding: 0 30px;
  }
}
.fully__body__wrapers .column button {
  margin: 38px 0 0px 0;
  text-transform: none;
}
.fully__body__wrapers .column button:hover {
  background: #d2d6db;
  color: white;
}
.fully__body__wrapers .column button:active {
  background: #d2d6db;
  color: gold;
  transition: 0.1s;
}

.gallery2 {
  min-height: 441px;
  background: white 0 50%;
}
.gallery2__body {
  max-width: 600px;
  margin: 0 auto;
}
.gallery2__body__wrappers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery2__body__wrappers {
    justify-content: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery2__body__wrappers {
    justify-content: center;
  }
}
.gallery2__body__wrappers_block {
  padding-top: 58px;
  flex-basis: 30%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery2__body__wrappers_block {
    flex-basis: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery2__body__wrappers_block {
    margin-bottom: 30px;
    flex-basis: 45%;
    text-align: center;
  }
}
.gallery2__body__wrappers_block img {
  height: 138px;
  width: 180px;
  text-align: start;
  margin: 0px;
}
.gallery2__body__wrappers_block h3 {
  text-align: start;
  padding: 34px 0px 35px 0px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery2__body__wrappers_block h3 {
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery2__body__wrappers_block h3 {
    text-align: center;
  }
}
.gallery2__body__wrappers_block p {
  padding: 0 4px 0 0;
}
@media screen and (max-width: 768px) {
  .gallery2__body__wrappers_block p {
    padding: 0 15px;
  }
}
.gallery2__body__wrappers_block a {
  display: inline-block;
  margin: 34px 0 0px 0;
  color: #00c4b0;
  transition: 0.4s;
  border: 2px solid #00c4b0;
  padding: 10px;
  background: #40474e left;
}
.gallery2__body__wrappers_block a:hover {
  color: white;
  background-position: right;
}